@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;1,200&display=swap');

:root{
  --primary: #46A094;
  --secondary: #6BBD99;
  --error: #ff4a4a;
}

/* base styles & title */
body{
  font-family: "Poppins";
  color: var(--secondary);
}
.App{
  max-width: 960px;
  margin: 0 auto;
}


/* upload form styles */




/* progress bar styles */




/* image grid styles */


/* modal styles */